.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
  


/*-----------------------------------*\
  RESET ALL
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
   text-decoration: none; }

li {
   list-style: none; }

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img, ion-icon, button, a {
   display: block; }

span { 
  display: inline-block; }

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
   font: inherit; }

body { 
  background: hsl(0, 100%, 100%); }


/**
 * scrollbar style
 */
body::-webkit-scrollbar { 
  width: 15px; }

body::-webkit-scrollbar-track {
  background: hsl(0, 100%, 100%);
  border-left: 1px solid hsl(0, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid hsl(0, 100%, 100%);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { 
  background: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { 
  padding: 0 15px; }

.has-scrollbar { 
  padding-bottom: 5px; }

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid hsl(0, 100%, 100%);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb { 
  background:lightblue ;}
.has-scrollbar::-webkit-scrollbar-thumb:hover { 
  background: black;  }
.title {
  color: hsl(0, 0%, 13%);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  margin-bottom: 30px;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


.header-user-actions{
  display: none;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}

.header-logo {
   margin-bottom: 20px;
  color:black;
 }

 
.header-logo:hover{ 
  color: lightblue;
  
  transition: 0.2s ease;
}
 


.header-search-container {
   position: relative; }

.header-search-container .search-field {
  font-size: 0.875rem;
  color: hsl(0, 0%, 27%);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 10px;
}

.search-field::-webkit-search-cancel-button {
   display: none; }

.search-btn {
  background:transparent;
  position: absolute;
  top: 37%;
  right: 2px;
  transform: translateY(-50%);
  color: hsl(0, 0%, 27%);
  font-size: 18px;
  padding: 7px 8px;
  border-radius: 10px;
  transition: color 0.2s ease;
}

.search-btn:hover { color:  lightblue;
}

.mobile-bottom-navigation {
  background: hsl(0, 100%, 100%);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: hsl(0, 0%, 13%);
  padding: 10px;
}

#popup{
  height:90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 4;
  top:0px;
  animation: fadeOut 0.2s ease-out;
}
@keyframes fadeOut{
  from{
    opacity:0;
    transform:scale(0.8);
    box-shadow:50px 50px 5px black;       
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}

.category-item-container{
  width: 100%;    
  margin-top: 14px;
  display: flex;
  gap:20px;
}

.category-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}
.category-img{
  padding: 4px;
  border-radius: 6px;
  text-align: center;
}

.category-item-name{
}

.category-img:hover{
  box-shadow: 1px 0px 2px 2px inset    lightblue;
  ;
}



#home{
  font-size: 2rem;
}





/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner { 
  margin: 30px 0; }

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.banner-content {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 30px rgba(227.228,237,0.37);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  border-radius: 10px;
}


.banner-title {
  color: hsl(0, 0%, 13%);
  font-size: 1.563rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}


.banner-text { 
  display: none; }

.banner-btn {
  background:  orange;
  color: hsl(0, 100%, 100%);
  width: max-content;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 5px;
  transition: 0.2s ease;
}

.banner-btn:hover {
   background: hsl(0, 0%, 13%); }





/*-----------------------------------*\
  Products
\*-----------------------------------*/

.product-main {
   margin-bottom: 30px; }

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.product-grid .showcase {
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
}

.product-grid .showcase:hover { box-shadow: 40px 40px 40px hsla(143, 100%, 52%, 0.1); }

.product-grid .showcase-banner { position: relative; }


.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}


.product-grid .showcase-content { padding: 15px 20px 0; }

.product-grid .showcase-category {
  color:  lightblue;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-grid .showcase-title {
  color: hsl(0, 0%, 47%);
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: 0.2s ease;
}


.product-grid .showcase-rating {
  display: flex;
  color: hsl(29, 90%, 65%);
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: 0.875rem;
  color: hsl(0, 0%, 13%);
  margin-bottom: 10px;
}

.product-grid .price {
   font-weight: 700; }

.product-grid del {
   color: hsl(0, 0%, 47%); }





/*-----------------------------------*\
  Footer
\*-----------------------------------*/

footer {
  background: hsl(0, 0%, 13%);
  padding: 30px 0;
}

.footer-nav {
  border-bottom: 1px solid hsl(0, 0%, 27%);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer-nav-list:not(:last-child) { margin-bottom: 20px; }

.footer-nav .nav-title {
  position: relative;
  color: hsl(0, 100%, 100%);
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-nav .nav-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background:  lightblue;
  width: 60px;
  height: 1px;
}

.footer-nav-item {
   padding: 3px 0; }

.footer-nav-link,
.footer-nav-item .content {
  width: max-content;
  color: hsl(0, 0%, 47%);
  font-size: 0.875rem;
  text-transform: capitalize;
  transition: 0.2s ease;
}

.footer-nav-link:hover { color:  lightblue;
 }

.footer-nav-item.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 5px;
}



/**
 * responsive larger than 1024px 
 */

@media (min-width: 1200px) {
  .container {
     min-width: 1300px; }

  .mobile-bottom-navigation{
    display: none;
  }
  .header-main .container{
    display: flex;
  }

  .header-search-container{
    width: 44%;
  }

  .header-user-actions{
    display: block;
    display: flex;
    position: absolute;
    right: 100px;
  }
  .action-btn{
    font-size: 2rem;
    margin-left: 20px;
  }

  .category-item-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
  }

  
  .product-container .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }

  .sidebar-close-btn {
     display: none; }

  .product-box {
     min-width: calc(75% - 15px); }

  .product-grid { 
    grid-template-columns: repeat(3, 1fr); }

  .slider-item:last-child .banner-img {
     object-position: top; }

  .product-grid {
     grid-template-columns: repeat(4, 1fr); }

  footer {
     padding-top: 50px; }

  .footer-category {
    margin-bottom: 50px;
    padding-bottom: 35px;
  }

  .footer-nav { padding-bottom: 50px; }

  .footer-nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-nav-list{
    margin-left: 80px;
  }
}
